<!DOCTYPE html>
<html lang="en">
<head>
<link rel='stylesheet' href ='../../styles/hero.css'>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MurimiWangu/FowlRuncondit</title>
</head>
<body>
     <section class="hero-fowlrun">
          <div class="greetings"> 
             
               <h1>HELLO <span class='name'>
                     MR T P. KATYORA 
               </span>
                    <br/> WELCOME TO YOUR FOWL RUN  
          
               </h1>
          </div> 
               <div class="datestyle" >
                    <p class='dateparagraph'>DATE</p>
                    <p class='timeparagraph'>TIME</p>
                    
             </div>  <br/>      
               <div class='timecontainer'>
                    <p class''>LAST RECORDED AT</p>
                    <p class='time'>2023-04-28</p>
                    <p class='time'>14:24:03</p>

               </div>
               <div class='timecontainer'>
                    
                    <p class=''>FIRST RECORDED AT</p>
                    <p class='time'>2023-04-28</p>
                    <p class='time'>14:24:03</p>
               </div>
                         
                    
                                                    
                 
             <div class="Display Conditions"> 
               <div class=" about temperature">
                    <h1>temperature 25 degrees</h1>
                    <p1>Conditions too high please lower temperature </p1> 
          
                    
               </div>
               <div class="humidity">
                    <h1>humidity  12fn</h1>
                    <p1>humidity too low maybe your bedding is too wet</p1>
               </div>
               <div class="age"><h1>Animal Age = 3 weeks</h1
                                <p1>your chicks have just reached  2 weeks note if new feed is required</p1>
          
               </div>
               <div class="feed"><h1>Feed required    Grower pellets </h1>
                    <p1> !!! New feed required your chicks are now three weeks old</p1>
               </div>
                                              
             </div>
             <div class="Button">
               <button><a href="../create account.html">Back</a></button>
              
                          
             </div>

     </section>
   
                                   

                                                  
</body>
</html>