

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MurimiWangu/My accounts application</title>
</head>
<body>
      <div class =accounts>
         <!-- <div class="container">
                                 <h1> log In </h1>
                                 <p> please sign in if you have an account</p>
                                 
                                 <label>Enter your first name</label>
                                 <fieldset> </fieldset>
                                 <label>Enter your  password</label>
                                 <fieldset> </fieldset>
                                 

          </div>--> 
        <!--  <div class="input_field">
                     <input type="text" class="input" placeholder="Username" required>                           

          </div> 
          <div>
                 <input type="text"  class="input" placeholder="password"required>                               
           </div>--> 
           <div>
                 <div class="container">
                        <h1> Log In</h1>
                        <p>please enter your details</p>                                                           
                 <form>
                         <label for="UserName">  Enter Your  UserName:</label>
                         <input type="text" id="UserName" name="UserName"><br><br>
                         <label for="LastName">Enter Password :</label>
                         <input type="text" id="Password" name="Password"><br><br>
                   <div class="remember me">
                         <label for="checkbox">Remember Me</label> 
                       <input type="checkbox" name="Remember me">

                      <!-- <p>  <a href ''>Forget password</a></p>-->

                          
                   </div>
                   <button>Log In</button>
                   <div class="forget password">
                                                  <a href="">Forgot Password</a>
                   </div>

                  <!-- <div class = submit><label for submit></label>
                                        <input type="Submit" value="Submit">        



                   </div>                
                 </form> 
                 </div> 
                <!-- <div class="forget password">
                                                  <label for="checkbox">Remember Me</label>
                                                  <input type="checkbox">

                 </div>-->                               
           </div>                                

                 </div> 
          <div class="register">
                                 <p>Do you have an account ? <a href="" >Create an account</a> </p>             

       </div> 
       <div class="Register">
            <h1>Welcome to MurimiWangu!
                  Please register with us </h1>

       </div>
   <div class="Registration">
      <h1>Welcome to MurimiWangu
          <p>Please Register With Us</p>  
      </h1>
   </div>                                   
                                                  
</body>
</html>

